{% extends 'bank/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
Расчёт
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <form method="post" enctype="multipart/form-data" style="width: 50%">
                <div class="col-lg-5 align-items-center my-5" style="float: right">
                    {% csrf_token %}

                    {% bootstrap_form calculation_form %}
{#                    {{ form_as.p }}#}

                    <h1>Ежемесячный платёж: {{ calculation_data.monthly_payment }}</h1>
                    <button name="submit" class="custom-btn btn-15">Рассчитать</button>
{#                    <h2>Нажми на<a href="{% url 'full_calculation' %}"> Меня </a>чтоб показать полный расчёт</h2>#}
                </div>
            </form>
        </div>
    </div>

    </div>
{% endblock %}
