{% extends 'bank/base.html' %}
{% load bootstrap5 %}

{% block title %}
Полный расчёт
{% endblock %}

{% block content %}
    <div class="container">
            <table class="scroll-table">
                <thead>
                    <tr>
                        <th scope="col">Сумма за долг</th>
                        <th scope="col">Доля процента</th>
                        <th scope="col">Остаток долга</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{% for payment in all_payment %}<ul>{{ payment }} </ul>{% endfor %}</td>
                    <td>{% for per in percentage_share_list %}<ul>{{ per }}</ul>{% endfor %}</td>
                    <td>{% for debt in all_remaining_debt %}<ul>{{ debt }}</ul>{% endfor %}</td>
                </tr>
                </tbody>
            </table>
            <h2>Итого заплачено: {{ total }}</h2>
        </div>
{% endblock %}
